<p>
  <b>Title:</b>
  <%=h @task.title %>
</p>

<p>
  <b>Priority:</b>
  <%=h @task.priority_id %>
</p>

<p>
  <b>Quadrant:</b>
  <%=h @task.quadrant_id %>
</p>

<p>
  <b>Due date:</b>
  <%=h @task.due_date %>
</p>

<p>
  <b>Order:</b>
  <%=h @task.order %>
</p>

<p>
  <b>Created at:</b>
  <%=h @task.created_at %>
</p>

<p>
  <b>Updateed at:</b>
  <%=h @task.updateed_at %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>